*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-size: 62.5%;
}

body {
  font-size: 16rem;
  min-height: 100vh;
  background-color: #9ecae1;
}

.container {
  margin: 0 auto;
  width: 940px;
  text-align: center;
  background-color: #fff;
}
